.card:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.card img {
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.05);
}

.best-sellers .card img {
  transition: transform 0.3s ease;
}
.best-sellers .card:hover img {
  transform: scale(1.05);
}
.best-sellers .btn-outline-secondary:hover {
  background-color: #000;
  color: #fff;
}
.btn-outline-secondary:hover {
  background-color: #000;
  color: #fff;
}

.custom-btn:hover {
  background: #000 !important;
  color: #fff !important;
  border-color: #000 !important;
  transition: 0.3s ease;
}
